.usa-banner {
    background-color: #50316F;
    padding: 1.25rem 0;

    &-inner {
        color: #ffffff;
        font-size: 1.6rem;

        a, a:hover {
            color: #ffffff;
        }
    }
}