.block-form {
    &-list {
        border-top: 2px solid #f8f8f8; 
        margin: 0;
        padding: 0;
        list-style: none;

        :nth-child(even) .block-form {
            background-color: #F3F7FF;
        }

        &-item {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    &-link {
        display: block;
        padding: 1.5rem;
        text-decoration: none;
    }

    &-title {
        text-decoration: underline;
    }

    &-subtitle {
        color: #000000;
        text-decoration: none;
    }
}