.usa-sidenav-list {
    padding: 1.6rem;
    background-color: #f7f7f7;
    border-radius: 5px;

    li {
        border-color: $color-primary-alt-lightest;
    }

    a {
        color: $color-primary-alt;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-left: 1.4rem;

        &:hover {
            color: $color-primary-alt-dark;
        }

        &.usa-current {
            border-left: none;
            color: $color-primary-alt;
        }
    }
}

.usa-sidenav-sub_list {
    a {
        padding-lefT: 2.8rem;
    }
}

.widget {
    &.sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        .admin-bar & {
            top: 32px;

            @media screen and (max-width: 782px) {
                top: 46px;
            }
        }

        @media(max-width: $medium-screen){
            display: none;
        }
    }
}


.sidenav.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    .admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    @media(max-width: $medium-screen){
        display: none;
    }

}
