/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-prose,
.breadcrumbs {
  a:link,
  a:visited,
  a:hover {
    @include u-color('blue-50');
  }

  a:hover {
    @include u-text('no-underline');
  }
}

.usa-dark-background,
.usa-hero__callout {
  @include u-bg('blue-50');
}

.wp-block-table {
  @extend .usa-table;
  @include u-width('full');
}

.wp-block-simple-alert {
  @include u-bg('gold-10v');
  @include u-padding('2');
  @include u-margin-top('2');
}

.text-violet-70v {
  @include u-color('violet-70v');
}

.bg-violet-70v {
  @include u-bg('violet-70v');
}

.sf-field-submit input {
  margin-top: 0;
}

/*
----------------------------------------
Search filter
----------------------------------------
*/

.searchandfilter label {
  @include u-display('block');
}

.searchandfilter {
  @extend .usa-form;
}

.searchandfilter ul,
.sf_date_field {
  @include unstyled-list;
}

.sf-input-text {
  @extend .usa-input;
}

.sf-field-submit {
  input {
    @extend .usa-button;
  }
}

[data-sf-field-input-type=checkbox] {
  .sf-input-checkbox {
    @extend .usa-checkbox__input;
  }

  .sf-label-checkbox {
    @extend .usa-checkbox__label;
  }
}

/*
----------------------------------------
Primary Nav Customizations
----------------------------------------
*/

.usa-nav__primary {
  .usa-nav__link {
    @extend .border-transparent;
    @extend .border-x;
    @extend .border-top;
    position: relative;
    z-index: 100;
    white-space: nowrap;
  }

  button.usa-nav__link[aria-expanded=true] {
    @extend .border-base-lighter;
    @include u-color('base-dark');
    @include u-bg('white');
    background-image: url(../img/angle-arrow-up-primary.svg);
  }

  .usa-nav__submenu {
    margin-top: -1px;
    z-index: 1;
    @include u-bg('white');
    @include u-padding(0);
    @extend .border;
    @extend .border-base-lighter;

    .usa-translate__power {
      @include u-padding-y(1.5);
      @include u-padding-x(2);

      svg {
        height: 27px;
        width: 58.62px;
      }
    }

    .usa-nav__submenu-item {
      @include u-margin(0);

      a {
        @include u-color('base');
        @include u-display('block');
        @include u-padding-y(1.5);
        @include u-padding-x(2);

        &:hover {
          @include u-color('white');
          @include u-bg('primary-dark');
          @include u-padding-y(1.5);
          @include u-padding-x(2);
        }
      }
    }
  }
}

.gsc-search-box {
  margin: 0 !important;
}

.gsc-control-cse {
  padding: 0 !important;
}

.usa-search--cse > div {
  width: 100%;
  min-width: 208px;
}

.gsc-input {
  padding: 0 !important;
}

.gsc-input-box {
  @extend .usa-input;
  @extend .width-auto;
  margin: 0;

  .gsib_a {
    padding: 0;
  }
}

button.gsc-search-button {
  margin: 0;
  @extend .usa-button;
  @include u-bg('white');
  padding: 11px 12px;
  border: 1px solid #dcdee0;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover {
    border: 1px solid #dcdee0;
    border-left: none;
    @include u-bg('white');
  }

  svg {
    path {
      fill: #565c65;
    }
  }
}

/*
----------------------------------------
Scroll to top
----------------------------------------
*/
  
#scrolltotop {
  @include u-shadow(3);
  @include u-z(100);
  @include u-position('fixed');
  @include u-text('uppercase');
  @include u-right(2);
  @include u-bottom(3);
}

/*
----------------------------------------
Translations
----------------------------------------
*/

#google_translate_element {
  width:300px;
  float:right;
  text-align:right;
  display:block
}

.goog-te-banner-frame.skiptranslate,
.activity-root,
.status-message,
.started-activity-container { 
  display: none !important;
} 

body { 
  top: 0px !important; 
}

#goog-gt-tt, 
.goog-tooltip skiptranslate {
  display: none !important; 
  top: 0px !important; 
}

.usa-nav__translate {
  display: flex;
  align-items: center;

  &:hover {
    .usa-svg__fill {
      fill: color($theme-color-primary);
    }
  }
  
  svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
  }
}