/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-prose,
.breadcrumbs {
  a:link,
  a:visited,
  a:hover {
    @include u-color('blue-50');
  }

  a:hover {
    @include u-text('no-underline');
  }
}

.usa-dark-background,
.usa-hero__callout {
  @include u-bg('blue-50');
}

.wp-block-table {
  @extend .usa-table;
  @include u-width('full');
}

.wp-block-simple-alert {
  @include u-bg('gold-10v');
  @include u-padding('2');
  @include u-margin-top('2');
}

.text-violet-70v {
  @include u-color('violet-70v');
}

.bg-violet-70v {
  @include u-bg('violet-70v');
}

/*
----------------------------------------
Search filter
----------------------------------------
*/

.searchandfilter label {
  @include u-display('block');
}

.searchandfilter {
  @extend .usa-form;
}

.searchandfilter ul,
.sf_date_field {
  @include unstyled-list;
}

.sf-input-text {
  @extend .usa-input;
}

.sf-field-submit {
  input {
    @extend .usa-button;
  }
}

[data-sf-field-input-type=checkbox] {
  .sf-input-checkbox {
    @extend .usa-checkbox__input;
  }

  .sf-label-checkbox {
    @extend .usa-checkbox__label;
  }
}

/*
----------------------------------------
Primary Nav Customizations
----------------------------------------
*/

.usa-nav__primary {
  .usa-nav__link {
    @extend .border-transparent;
    @extend .border-x;
    @extend .border-top;
    position: relative;
    z-index: 100;
    white-space: nowrap;
  }

  button.usa-nav__link[aria-expanded=true] {
    @extend .border-base-lighter;
    @include u-color('base-dark');
    @include u-bg('white');
    background-image: url(../img/angle-arrow-up-primary.svg);
  }

  .usa-nav__submenu {
    margin-top: -1px;
    z-index: 1;
    @include u-bg('white');
    @include u-padding(0);
    @extend .border;
    @extend .border-base-lighter;

    .usa-nav__submenu-item {
      @include u-margin(0);

      a {
        @include u-color('base');
        @include u-display('block');
        @include u-padding-y(1.5);
        @include u-padding-x(2);

        &:hover {
          @include u-color('white');
          @include u-bg('primary-dark');
          @include u-padding-y(1.5);
          @include u-padding-x(2);
        }
      }
    }
  }
}
  
#scrolltotop {
  @include u-shadow(3);
  @include u-z(100);
  @include u-position('fixed');
  @include u-text('uppercase');
  @include u-right(2);
  @include u-bottom(3);
}